<style>
  * {
    box-sizing: border-box;
  }


  :root {
    --color-green-1: #67DF9B;
    --color-green-2: #20C4AE;
  }

  body {
    background: linear-gradient(to bottom, var(--color-green-1), var(--color-green-2));
    font-family: 'Muli';
    height: 100vh;
    margin: 0;
  }

  body {
    font-family: Arial;
    margin: 0 auto;
    /* Center website */
    max-width: 80vw;
    /* Max width */
    padding: 20px;
  }

  .heading {
    font-size: 25px;
    margin-right: 25px;
  }

  .fa {
    font-size: 25px;
  }

  .checked {
    color: orange;
  }

  /* Three column layout */
  .side {
    float: left;
    width: 100%;
    margin-top: 10px;
  }

  .middle {
    float: left;
    width: 80%;
    margin-top: 10px;
  }

  /* Place text to the right */
  .right {
    text-align: right;
    width: 10%;
  }

  .row {
    margin: 30px auto;
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }

  /* Individual bars */
  .bar-5 {
    width: 1%;
    height: 18px;
    background-color: #4CAF50;
  }

  .bar-4 {
    width: 30%;
    height: 18px;
    background-color: #2196F3;
  }

  .bar-3 {
    width: 10%;
    height: 18px;
    background-color: #00bcd4;
  }

  .bar-2 {
    width: 4%;
    height: 18px;
    background-color: #ff9800;
  }

  .bar-1 {
    width: 15%;
    height: 18px;
    background-color: #f44336;
  }

  .option-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 15px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    background-color: white;
  }

  .option-container.selected-option:before {
    background: linear-gradient(to bottom, var(--color-green-1), var(--color-green-2));
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
  }

  .option-container.selected-option {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .btn {
    background: linear-gradient(to right, var(--color-green-1), var(--color-green-2));
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 25px;
    letter-spacing: 0.5px;
    line-height: 20px;
    width: 100%;

  }

  .btn:active {
    font-size: 14px;
    line-height: 20px;
  }

  .btn:focus {
    outline: none;
  }

  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {

    .side,
    .middle {
      width: 100%;
    }

    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }

  /* Base for label styling */
  [type="radio"]:not(:checked),
  [type="radio"]:checked {
    position: absolute;
    left: -9999px;
  }

  ed+label {
    color: #aaa;
  }

  */
</style>


<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<span class="heading">Decide the meeting time </span>

<p></p>
<hr style="border:3px solid #f1f1f1">


<div class="row">
  {% for option in options %}
    <div class="option-container">
      <div class="side">
        <input type="radio" name="Option" id="option" value="{{ option.meetingEventID}}" />
        <label class="option1" for="option">{{ option.start}} {{option.end}}</label>
      </div>
      <div>
        <div class="middle">
          <div class="bar-container">
            <div class="bar-5" style="width: calc( 100% * {{option.voteNumber}} /{{totalVote}})"></div>
          </div>
        </div>
        <div class="side right">
          <div>{{ option.voteNumber }}</div><br>
        </div>
      </div>
    </div>
    {% endfor %}
    {% csrf_token %}
    <button class="btn">Submit</button>
  </div>

  <script>
    var meetingId = '{{meetingID_r}}'

    var csrftoken = '{{ csrf_token }}';

    var items = document.querySelectorAll('.option-container');
    var submitButton = document.querySelector('.btn');
    var selectedItems = [];

    items.forEach(item => {
      item.addEventListener('click', () => {
        if (!item.classList.contains("selected-option")) {
          items.forEach(item => {
            if (item.classList.contains("selected-option")) {
              item.classList.toggle('selected-option');
            }
          });
          item.classList.toggle('selected-option');
        }
      });
    });

    submitButton.addEventListener("click", () => {
      items.forEach(item => {
        if (item.classList.contains("selected-option")) {
          selectedItems.push(item.querySelector("input").value)
        }

      });

      var xmlhttp = new XMLHttpRequest();

      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == XMLHttpRequest.DONE) {
          if (xmlhttp.status == 200) {
            alert("You decided meeting time successfully, please close this alert");
            selectedItems = [];
            location.replace("http://localhost:8000/mymeetings/mymeetings");
          }
          else if (xmlhttp.status == 400) {
            alert('There was an error 400');
            selectedItems = [];
          }
          else {
            alert("Opps, failed!");
            selectedItems = [];
          }
        }
      };
      var ids = selectedItems.join()
      //xmlhttp.open("POST", `/mymeetings/voting?ids=${selectedItems.join()}`, true);
      //xmlhttp.open("POST", `/mymeetings/voting`, true);
      xmlhttp.open("POST", '/mymeetings/decide', true);
      xmlhttp.withCredentials = true;
      xmlhttp.setRequestHeader('X-CSRFToken', csrftoken);
      xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xmlhttp.send('ids=' + ids + '&meetingID_r=' + meetingId);

    })

  </script>